.home{
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    width: 100%;
    height: auto;
}

.white{
    color: white;
}

.pt-l{
    padding-top: 8%;
}

.about-me{
    background-color: black;
}

.align-centre{
    position: relative;
    left: 45%;
}

.pl-xxl{
    padding-left: 10%;
    padding-right: 10%;
}

.size-sm{
    width: 60px;
    height: 60px;
}

.size-xsm{
    width: 50px;
    height: 50px;
}

.work{
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contributions{
    background-color: black;
}

.font-size-md{
    font-size: medium;
}

.contact{
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
}

.footer{
    background-color: black;
}

.customFont{
    font-family: inherit;
    font-weight: 500;
    font-size: xx-large;
}