.home{
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    width: 100%;
    height: auto;
}

.white{
    color: white;
}

.pt-l{
    padding-top: 8%;
}